.logo-container
  %h1.main-logo Hot Or Not
  %h1.main-logo-second-line Nashville Home Edition

.button-container
  - if user_signed_in?
    %ul
      %li= link_to "Play", games_path, :class => "play"
      %li= link_to "Favorites", favorites_path, :class => "favorites"

.social-container
  - unless user_signed_in?
    %h3.social Sign in with:
    %img= link_to image_tag('facebook.png'),
    user_omniauth_authorize_path(:facebook),
    :class => "social", :id => "facebook"
    %img= link_to image_tag('twitter.png'),
    user_omniauth_authorize_path(:twitter),
    :class => "social", :id => "twitter"

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55154064-1', 'auto');
  ga('send', 'pageview');
