.logo-container
  %h1.main-logo Hot Or Not
  %h1.main-logo-second-line Nashville Home Edition
-# .bg-container
-#   %img.bg-pic= image_tag('home-bg1.jpg')

.button-container
  - if user_signed_in?
    %ul
      %li= link_to "Play", games_path, :class => "play"
      %li= link_to "Favorites", '#', :class => "favorites"


.social-container
  - unless user_signed_in?
    %h3.social Sign in with:
    %img= link_to image_tag('facebook.png'),
    user_omniauth_authorize_path(:facebook),
    :class => "social", :id => "facebook"
    %img= link_to image_tag('twitter.png'),
    user_omniauth_authorize_path(:twitter),
    :class => "social", :id => "twitter"
