.game
  .inner-container
    %img{:src=>@home.photo_url, :class => "thumbnail"}
    %h3.list-price= @home.list_price
    %p.address= @home.address
    %p.desc= @home.description
.controls-container
  %ul
    %li=image_tag "hot.svg", :class => "controls"
    %li=image_tag "not.png", :class => "controls"
