development:
  facebook:
    app_id: YOUR FB APP ID
    secret_key: YOUR FB APP SECRET
  twitter:
    app_id: YOUR TWITTER APP ID
    secret_key: YOUR TWITTER APP SECRET

test:
  facebook:
    app_id: YOUR FB APP ID
    secret_key: YOUR FB APP SECRET
  twitter:
    app_id: YOUR TWITTER APP ID
    secret_key: YOUR TWITTER APP SECRET
