@import "partials/mixins";
.favorites-container{
  @include outer-container;
  text-align: center;
  h1.favs{
    // color: white;
  }
  img.thumbnail{
    border-radius: 5px;
  }
  .fav-box{
    display: inline-block;
    background-color: white;
    padding: 1.5em;
    margin: 1em;
    border-radius: 5px;
    // height: 14em;
    h1{
      margin: 0.67em 0 1.2em 0;
    }
  }
  a.play{
    @include thoughtbot;
    margin: 4em;
    padding-left: 4em;
    padding-right: 4em;
  }
}
