.game{
  @include outer-container;
  margin-top: 5%;
  height: 60%;
  .inner-container{
    background-color: white;
    width: 62%;
    height: 98%;
    border-radius: 20px;
    padding-top: 8%;
    margin: 0 auto 0 auto;
    text-align: center;
    h3.list-price{
      margin: 1em 0 1em 0;
    }
    p.address, p.desc{
      padding: 0 2em 0 2em;
    }
    img.thumbnail{
      display: block;
      margin: 0 auto 3% auto;
      border-radius: 10px;
    }
  }
}

.controls-container{
  @include outer-container;
  text-align: center;
  margin-top: 1%;
  li{
    display: inline;
    margin: 0 4% 0 4%;
  }
  .controls{
    display: inline-block;
    width: 6em;
    height: 6em;
    margin: 0 auto 0 auto;
  }
}
