.game{
  @include outer-container;
  margin-top: 5%;
  height: 60%;
  .game-play-container{
    @include span-columns(6);
    background-color: white;
    height: 98%;
    border-radius: 5px;
    padding-top: 8%;
    margin: 0 auto 0 auto;
    text-align: center;

    h3.list-price{
      margin: 1em 0 1em 0;
    }
    p.address, p.desc{
      padding: 0 2em 0 2em;
    }
    img.thumbnail{
      display: block;
      margin: 0 auto 3% auto;
      border-radius: 5px;
    }
    .fav-container{
      margin-top: 6em;
    }
    .favorites{
      @include clean-gray;
    }
  }
}

.controls-container{
  text-align: center;
  margin-top: 8em;
  li{
    display: inline;
    margin: 0 4% 0 4%;
  }
  .controls{
    display: inline-block;
    width: 6em;
    height: 6em;
    margin: 0 auto 0 auto;
    border-radius: 50%;
  }
  a.hot:hover{
    // background-color: rgb(186, 21, 23);
    background-color: white;
  }
  a.not:hover{
    // background-color: rgb(60, 141, 197);
    background-color: white;
  }
}
