.list-homes-container{
  @include omega;
  @include span-columns(6);
  background-color: white;
  border-radius: 5px;
  padding: 2em;
  text-align: center;
}
h2{
  margin-bottom: 1em;
}
.list-pic{
  height: 6em;
  width: 6em;
  border-radius: 50%;
}

// RESPONSIVENESS

@media screen and (max-device-width: 550px) {
  .list-homes-container{
    @include span-columns(10);
    border-radius: 15px;
    margin: 35% 0 0 8%;
    font-size: 30px;
  }
}

.list-homes-container{
  @include media($mid) {
    @include span-columns(10);
    margin: 5% 0 0 7.5%;
  }
}
