body{
  @include background-image(url("bg.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-container{
  text-align: center;
  color: white;
}
.main-logo{
  margin-top: 0px;
  font-size: 3.5em;
  padding-top: 1em;
}

.social-container{
  margin: 25% 0 0 65%;
}
.social{
  color: white;
}
