@import "partials/mixins";
@import "partials/game";
@import "partials/list";

body{
  @include background-image(asset-url("bg.jpg"));
  background-attachment: fixed;
  height: 780px;
  background-size: cover;
  -moz-background-size: cover;
  background-position: center;
}

.logo-container{
  text-align: center;
}
.main-logo{
  margin: 0px;
  font-size: 3.5em;
  padding-top: 0.5em;
  color: white;
}
.main-logo-second-line{
  padding-top: 0;
  font-size: 3.5em;
  margin: 0px;
  color: white;
}

.button-container{
  @include outer-container;
  text-align: center;
  margin-top: 8em;
  li{
    display: inline;
    font-size: 2em;
    a{
      @include thoughtbot;
    }
    a.play{
      padding: 20px 65px;
      margin-right: 1em;
    }
    a.favorites{
      padding: 20px 41px;
    }
  }
}

.social-container{
  margin: 15% 0 0 70%;

  a#facebook{
    margin-right: 1em;
  }
  img{
    @include span-columns(3);
  }
  img:last-child{
    margin-right: 0.5em;
  }
}
.social{
  color: white;
}
form.new_user{
  @include outer-container;
  width: 50%;
  background-color: white;
  padding: 2em;
  border-radius: 10px;
}
form ~ a{
  display: none;
}

// RESPONSIVENESS =============
@media screen and (max-device-width: 450px) {
  .game-play-container, .list-homes-container{
    @include span-columns(12);
  }
  .social-container{
    @include span-columns(8);
    margin: 50% 0 0 40%;
  }
  .logo-container{
    font-size: 30px;
  }
}

.social-container{
  @include media($mid) {
    img{
      @include span-columns(4);
    }
    margin: 30% 0 0 50%;
  }
}

.social-container{
  @include media($mobile) {
    margin: 15% 0 0 30%;
    img{
      @include span-columns(4);
    }
  }
}
