@import "partials/mixins";
@import "partials/game";
@import "partials/list";

body{
  @include background-image(asset-url("bg.jpg"));
  background-attachment: fixed;
  height: 780px;
  background-size: cover;
  -moz-background-size: cover;
  background-position: center;
}

.logo-container{
  text-align: center;
}
.main-logo{
  margin: 0px;
  font-size: 3.5em;
  padding-top: 0.5em;
  color: white;
}
.main-logo-second-line{
  padding-top: 0;
  font-size: 3.5em;
  margin: 0px;
  color: white;
}

.button-container{
  @include outer-container;
  text-align: center;
  margin-top: 8em;
  li{
    display: inline;
    font-size: 2em;
    a{
      @include thoughtbot;
    }
    a.play{
      padding: 20px 65px;
      margin-right: 1em;
    }
    a.favorites{
      padding: 20px 41px;
    }
  }
}

.social-container{
  margin: 15% 0 0 70%;

  a#facebook{
    margin-right: 1em;
  }
  img{
    @include span-columns(3);
  }
  img:last-child{
    margin-right: 0.5em;
  }
}
.social{
  color: white;
}
form.new_user{
  @include outer-container;
  width: 50%;
  background-color: white;
  padding: 2em;
  border-radius: 10px;
}
form ~ a{
  display: none;
}

// RESPONSIVENESS =============
// PHONE=============
@media screen and (max-device-width: 500px) {
  body{
    @include background-image(asset-url("bg-sm.jpg"));
    .logo-container{
      margin-top: 4em;
      margin-bottom: 0px;
      font-size: 10px;
    }
  }
  .game-play-container, .list-homes-container{
    .list-price{
      font-size: 20px;
    }
    p.addy, p.desc{
      font-size: 16px;
    }
    .game-box > .controls-container{
      margin-top: 1.5em !important;
      a, img{
        width: 3em;
        height: 3em;
      }
    }
  }
  body > .game > .game-play-container{
    height: 10em;
  }

  body .game .list-homes-container{
    margin-top: -3em;
    .home-list h2{
      font-size: 25px;
    }
    img{
      width: 4em;
      height: 4em;
    }
  }
  .social-container{
    @include span-columns(8);
    margin-top: -100px;
  }
  // FAVORITES=============
  .favorites-container{
    h1, h1.favs{
      font-size: 20px;
      margin-top: 2em;
    }
    .fav-box{
      width: 80%;
      .mplay{
        margin: 0px;
      }
      .list-price{
        font-size: 20px;
      }
      p{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
      p, .mnuke{
        font-size: 15px;
      }

    }
  }
}

// END PHONE================

.social-container{
  @include media($mid) {
    img{
      @include span-columns(4);
    }
    margin: 30% 0 0 50%;
  }
}

.game > .game-play-container{
  @include media($mid) {
    height: 25em;
    .controls-container{
      margin-top: 7.2em;
    }
  }
}

.social-container{
  @include media($mobile) {
    margin: 15% 0 0 30%;
    img{
      @include span-columns(4);
    }
  }
}

.button-container{
  @include media($mobile) {
    li{
      display: block;
      margin: 2em;
      a.play{
        margin-left: 1em;
      }
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (min--moz-device-pixel-ratio: 1.3),
       only screen and (-o-min-device-pixel-ratio: 1.3 / 1),
       only screen and (min-resolution: 125dpi),
       only screen and (min-resolution: 1.3dppx) {
  body {
    @include background-image(asset-url("bg_2x.jpg"));
  }
}
